<configuration>
    <property name="ROOT_LEVEL" value="${LOG_LEVEL_ROOT:-INFO}" />
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} | client=%X{clientId} - %msg%n"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger detail for command -->
    <logger name="command" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Logger for server -->
    <logger name="server" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root -->
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
